@{
  Layout = "_Layout";
}

<h1>Hello Claire. Welcome to your stylist and client satabase.</h1>
<!-- <p>@Html.ActionLink("See all items", "Index", "Items")</p> 
<p>@Html.ActionLink("Add new item", "Create", "Items")</p>
<p>@Html.ActionLink("See all categories", "Index", "Categories")</p> -->